version: "3.2"
services:
  mongodb_container:
    image: mongo:latest
    environment:
      MONGO_INITDB_ROOT_USERNAME: netguru
      MONGO_INITDB_ROOT_PASSWORD: netgurupassword
      MONGO_INITDB_DATABASE: test
    ports:
      - 27017:27017
    volumes:
      - mongodb_data_container:/data/db
  
  app:
    command: node src/server.js
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - published: ${APP_PORT:-3000}
        target: 3000
    volumes:
      - .:/app/
    environment:
      JWT_SECRET: ${JWT_SECRET}
      DB_URL: mongodb://mongodb_container/netguru_db
      IMDB_API_KEY: 9333ecad
  
volumes:
  mongodb_data_container: